*{
margin: 0;
padding: 0;
font-family: Tahoma;
}
.wrapper{
  margin: 0 auto;
  height: 1060px;
  width: 1280px;
  background-image: url(bgnd.png);
  position: relative;
}

.slogan{
  position: absolute;
  top: 13.9%;
  left: 19.5%;
  color: #128aa7;
  font-size: 12px;

}

.contacts{
  position: absolute;
  right: 13%;
  top: 5%;
  color: #41a1b9;
  font-size: 12px;
}
.ours{
  font-weight: bold;
  padding-bottom: 5px;
}

.cntrs{
  position: absolute;
  right: 12.5%;
  top: 18%;
  font-size: 10px;
}
.cntrs li {
  list-style: none;
  display: inline;
}

  #shr {
    padding-right: 5px;
  }
  #bu {
    padding-right: 14px;
  }
  #ti {
    padding-right: 24px;
  }
  #ne {
    padding-right: 24px;
  }
  #ind {
    padding-right: 26px;
  }

.cntrs li a {
  color: #41a1b9;
}

.line{
  position: absolute;
  top: 43%;
  left: 16.45%;
  font-size: 14px;
}

.menu li {
  list-style: none;
  display: inline-block;

}
.menu li a {
  text-decoration: none;
  color: white;
}

.infhead{
  position: absolute;
  top: 46%;
  left: 15.5%;
  font-size: 18px;
  font-weight: 600;
  color: #424c43;
}
.info{
  width: 180px;
  height: 510px;
  position: absolute;
  top: 48.7%;
  left: 13%;
  color: #424c43;
  font-size: 14px;
}

.newshead{
  position: absolute;
  top: 46%;
  right: 15.5%;
  font-size: 18px;
  font-weight: 600;
  color: #424c43;
}
.news{
  width: 180px;
  height: 510px;
  position: absolute;
  top: 48.7%;
  right: 11.2%;
  color: #424c43;
  font-size: 14px;
}
.info p{
  padding-bottom: 7px;
}

.news p{
  padding-bottom: 7px;
}

#main{
  padding-left: 8px;
}
#trav{
  margin-left: 40px;
  padding-left: 20px;
  padding-right: 45px;
}
#serv{
  padding-left: 20px;
  padding-right: 46px;
}
#partn{
  padding-left: 25px;
  padding-right: 40px;
}
#resp{
  padding-left: 25px;
  padding-right: 55px;
}
#about{
  padding-left: 15px;
  padding-right: 55px;
}

#comm{
  position: absolute;
  top: 97.7%;
  left: 44%;
  font-size: 12px;
  color: #9bc5d7;
}

/* выпадающее меню */

.line ul{
  position: relative;
}
.line ul ul{
  display: none;
  position: absolute;
  background: #333333;
  margin-left: 50px;
  margin-top: 8px;
  padding-left: 5px;
  padding-right: 50px;
  padding-bottom: 7px;
  opacity: 1;
  box-shadow: 0px 7px 7px -3px #000000;
}
.line ul ul a{
  color: #c8c8c8;
  font-size: 14px;
}
.line li:hover ul{
  display: block;

}
.line li:hover li{
  display: block;

}
.line ul ul li{
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.line li{
  padding-bottom: 7px;
}
